:root {
    --primary-color: #45362a;
    --secondary-color: #604c39;
    --highlight-color: #f8dfc6;
}

body {
    overflow: hidden;
    margin: 0%;
}

h1, .title {
    font-family: 'Cinzel', serif;
}

body, input, select #searchResults {
    font-family: 'EB Garamond', serif;
}

#map { 
    height: 100vh;
    width: 100%;
    background-color: var(--secondary-color);
}

#map .leaflet-image-layer {
    filter: sepia(0.2) saturate(1.4) brightness(0.95);
}

.topbar {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.topbar h1 {
    position: absolute;
    left: 20px;
    top: 14px;
    margin: 0px;
    color: var(--highlight-color);
}

.searchWrapper {
    position: relative;
}

#searchResults {
    background-color: var(--primary-color);
    color: var(--highlight-color);
    font-size: large;
    position: absolute;
    top: 100%;
    box-sizing: border-box;
    width: 100%;
    padding: 0px;
    list-style: none;
    z-index: 1000;
    visibility: hidden;
}

#searchResults li {
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#searchInput {
    font-size: large;
    padding: 8px;
    color: var(--highlight-color);
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    border-style: solid;
    border-width: 2px;
    border-left: none;
    border-top: none;
    border-right: none;
}

#searchInput:hover {
    border-width: 3px;
    border-color: var(--secondary-color);
}

#searchInput:focus {
    border-color: var(--highlight-color);
    outline: none;
}

#language {
    padding: 7px;
    margin-left: 12px;
    background-color: var(--primary-color);
    color: var(--highlight-color);
    border-color: var(--primary-color);
    border-width: 1px;
    border-radius: 6px;
}
